@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text&display=swap');


:root {
    --main-bg:#F4F4EA;
    --sub-bg:   #4E2A1E;
}

body {
    background-color: var(--main-bg);
}

/*HEADER*/




.burger-svg {
    position: fixed;
    top:25px;
    right: 25px;
    cursor:pointer;
    z-index: 2000;
}
.burger-svg path {
    stroke: var(--sub-bg);
}

.burger-menu {
    width: 50%;
    height: 100vh;
    position: fixed;
    background-color: var(--sub-bg);
    right: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.burger-menu-text {
    display: flex;
    flex-direction: column;
    gap:7px;
}
h5 {
    font: 1.9em "Big Shoulders Display";
    color:var(--main-bg);
    text-align: center;
}

h1 {
    font:4.5em "Big Shoulders Display";
    font-weight: 800;
    background: url(../img/image.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-text {
    font:2.5em "Big Shoulders Display";
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    color:var(--sub-bg);
}
#portfolio-header { display: block;}


h2 {
    font-family: "Big Shoulders Inline Text";
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 10px;
}

header {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    height: 35vh;
}


main {
    background-color: var(--main-bg);
}
nav {display: none;}
#bg-about {
    display: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    /* padding-top: 100px; */
}
#about-text-item {
    margin: 10px 0 10px 0;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.1em;
    color: #6B4539;
}

.padTop {padding-top: 70px;}

#portfolio-side {
    text-transform: uppercase;
    font: 2.3em "Big Shoulders Display";
    font-weight: 700;
    color:var(--sub-bg);
    text-align: center;
    margin-top: 25px;
    filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.3));

}

.portfolio-pics img {
    position: absolute;
    width: 180px;
    height: 180px;
}
.two-pic {height: 270px;}
.two-pic img:first-child {

    left:85px;
    z-index: 5;
}
.two-pic img:nth-child(2) {

    top:85px;
}
.portfolio-pics {
    position: relative;
    margin: 30px auto 0 auto;
    width: 270px;
}


.portfolio-main {
    display: flex;
    flex-direction: column;
    gap:30px;
}

.three-picture {height: 400px;}
.three-picture img {border-radius: 5px; border: 1px solid black}
.three-picture img:first-child {
    z-index: 5;
}
.three-picture img:nth-child(2) {
    z-index: 4;
    right: 0;
    top: 100px

}
.three-picture img:nth-child(3){
    z-index: 3;
    top:200px;
}

.bg-text {
    display: none;
}




@media(min-width:700px) {
    header {
        height: 60vh;
    }
    h1 {
        font-size:10em
    }

    h3 {
        font-size:4em;
    }
    h2 {
        font-size:5.5em
    }
    .header-text {
        padding-top:100px;
    }


    .portfolio-pics img {
        width: 250px; height: 250px;
    }
    .portfolio-main {align-items: center; position: relative;}
    

    .two-pic { height: 375px;}

    .three-picture {height: 530px;}
    .three-picture img:first-child {
        z-index: 5;
    }
    .three-picture img:nth-child(2) {
        z-index: 4;
        right: 0;
        top: 155px;
    
    }
    .three-picture img:nth-child(3){
        z-index: 3;
        top:280px;
    }

    .two-pic img:first-child {

        left:125px;
        z-index: 5;
    }
    .two-pic img:nth-child(2) {
    
        top: 125px;;
    }

    .title-text {
        font-size:4em;
        
    }

    .bg-text {
        display: block;
        font:12em "Big Shoulders Display";
        position: absolute;
        left:-170px;
        top:-100px;
        opacity: 20%;
        text-transform: uppercase;
        color:#A5A5A5;
        font-weight: 800;
        letter-spacing: 25px;
    }
    #portfolio-side {
        align-self: end;
        color:#6B4539;
        letter-spacing:10px;
        font-weight: 800;
        text-align: initial;
        font-size:5em;
        transform: rotate(90deg);
        margin:0;   
        width: 238px;
    }

    #side-wrapper {
        display: flex;
        align-self: center;
        width: 238px;
    }

   

    .portfolio-pics {width: 375px; margin:0; flex:100;}
    
    .portfolio-main-sub {
        display: flex;
        margin-top: 120px;
        flex:1;
        flex-direction: row-reverse;
        position: relative;
    }

}


@media(min-width:1024px) {
    header {
        height: 80vh;
    }
    nav {display: flex;}

    h1 {
        font-size: 15em;
    }

    h2 {
        font-size:6em
    }

    #about-header {
        position: relative;
        top:50px;
        z-index: 5;
        
    }

    .section-header h3 {
        font-size:4.5em;
        text-transform: capitalize;
        letter-spacing: 14px;
    }

    header {
        padding-top: 50px;
        justify-content: space-between;
    }
    .header-text {height: 60vh;}
    .burger-svg {display: none;}


    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:50px;
        width: 835px;
        height: 60px;
        border-radius: 25px;
        background-color: var(--main-bg);
        
    }

    /* Ilyai */


    #logo {
        font: 30px 'Big Shoulders Display';
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0.1em;
        color: #4E2A1E;


    }
    nav {
        font-family: "Big Shoulders Display";
        transition: 1s;
        box-shadow: 0px 4px 5px 0 #575757;
        color:var(--sub-bg);
    }

    #nav-items {
        font-weight: 600;
        font-size:20px;
        display:flex;
        gap:35px;
        
    }

    
    #bg-about {
        display: block;
        position: absolute;
        z-index: 0;
        top:0;
        left:-70px;
        font:20em "Big Shoulders Display";
        font-weight: 800;
        opacity: 20%;
        letter-spacing: 30px;
        text-transform: uppercase;
        color:#A5A5A5;
    }

    .about {
        display: initial;
        text-align: initial;
        
    }
    .padTop {padding-top: 100px;}
    .about-text {
        margin:100px 0 0 100px;
    }

    #about-text-item {
        margin: 40px 0 40px 0;
    }

    #portfolio-side {
        text-transform: capitalize;
        font: 6.3em "Big Shoulders Display";
    }
    
    

}


